{
  "mcpServers": {
    "weather": {
      "command": "node",
      "args": [
        "/Users/jperiyasamy/Projects/identity-mcp-main/dist/index.js"
      ]
    },
    "paypal": {
      "command": "npx",
      "args": [
        "mcp-remote",
        "https://mcp.paypal.com/sse"
      ],
      "env": {
        "NODE_EXTRA_CA_CERTS": "/usr/local/etc/openssl/certs/combined_cacerts.pem"
      }
    }
  }
}